/*
  ef5050 darker red
  f95b5b brighter red
  000 darker black
  333 brighter black
  */
    /*||||||||||||||||||||||      BODY OVERALL      ||||||||||||||||||||||*/
    * {
      margin: 0px !important;
      padding: 0px;
      
    }
    button {
      color: #EEE !important;
      background: #EF5050 !important;
      border-color: #F95B5B !important;
    }
    p, h1, h2, h3, h4, h5, h6 {
      color: #333 !important;
    }
    html {
      width: 100%;
      
    }
    body {
      text-align: center;
      width: 100%;
      height: auto;
      background: #DDD;
    }
    #body-wrapper {
      width: 100%;
      text-align: left;
      
    }
    /*||||||||||||||||||||||      A1      ||||||||||||||||||||||*/
    /* Background of conent */
    #header-background-img { /* Image in the background of a div */
      background: url("http://www.dodge.com/assets/images/vehicles/2016/durango/model-overview/rt/hero/2016-durango-md-rt-hero2.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      min-height: 400px;
    }
    .btn {
      margin: 0px !important;
    }
    #header-content { /* div with transparent black background as a canvas for content */
      background: rgba(0, 0, 0, 0.6);
      min-height: 400px;
      display: block;
      word-wrap: break-word;
    }
    /* Heading - two buttons */
    .wrapper-header { /* wrapper for header button set at the top right */
      padding-left: 10px
      padding-right: 10px;
      max-width: 100%;
    }
    .btn-margin {
      margin-top: 10px !important;
      margin-right: 5px !important;
    }
    /* Heading - logo */
    .logo-header { /* div that contains row and column in which logo is */

    }
    #header-logo { /* id of logo.png */
      padding: 35px;
    }
    /* Heading - title */
    .title-header { /* div that contains header */
      padding-left: 10px;
      padding-right: 10px;
    }
    #h1-header { /* header h1 with text */
      color: #FFF;
      font-size: 3vmax;
      max-width: 1000px;
      margin: 0 auto !important;
    }
    /* Heading - search */
    .search-header {
      margin: 5vmin 0px 15px 0px !important;
      width: 100%;
      text-align: center !important;
    }
    .content-search {
      margin: 0 auto !important;
      max-width: 1000px;
    }
    .search-grid-fix > * {
      margin: 0px !important;
      padding: 0px !important;
    }
    .search-button {
      margin-right: 5px !important;
      border-radius: 0px !important;
      text-align: left;
    }
    .icon-dropdown {
      float: right !important;
     
      
    }
    .glyphicon {
      margin: 0px !important;
      padding: 0px !important;
    }
    .icon-dropdown-left {
     
      padding-right: 6px !important;
      
    }
    .form-control {
      border-radius: 0px !important;
    }
  /*||||||||||||||||||||||      A2      ||||||||||||||||||||||*/
    .content-body {
      margin: 0px auto !important;
      width: 96%;
    }
    .a2-body {
      margin-top: 50px !important;
    }
    .image-card {
      background: url("http://www.thetimes.co.uk/tto/multimedia/archive/00422/Facebook_-_13017632_422214c.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      border-top-left-radius: 5px !important;
      border-bottom-left-radius: 5px !important;
    }
    .card-field {
      height: 100px;
      max-height: 100%;
      padding: 8px !important;  
      display: inline-block;
      background: #FFF;
      border-radius: 5px;
      background-size: cover;
    }
    #h2-header { /* header h1 with text */
      color: #FFF;
      font-size: 2.0vmax !important;
      font-style: bold;
    }
    #h3-header { /* header h1 with text */
      color: #FFF;
      font-size: 1.5vmax !important;
      font-style: bold;
    }
    /*404040404044040404040440404040404404040404044040404040440404040404404040404044040404040440404040404
      404040404044040404040440404040404404040404044040404040440404040404404040404044040404040440404040404
      404040404044040404040440404040404404040404044040404040440404040404404040404044040404040440404040404
      40404040404404040404044040404040440404040404 DEBUGGING 40404040404404040404044040404040440404040404
      404040404044040404040440404040404404040404044040404040440404040404404040404044040404040440404040404
      404040404044040404040440404040404404040404044040404040440404040404404040404044040404040440404040404
      404040404044040404040440404040404404040404044040404040440404040404404040404044040404040440404040404 */
    * { 
      /*border: 1px dashed red !important;*/
    }
    .no-pad-marg {
      margin: 0px !important;
      padding: 0px !important;
    }
    .shape {
      margin-top: 15px !important;
      border: 1px solid #CCC !important;
      display: inline-block;
      position: all;
      width: 98%;
      background: #FFF;
      height: 135px !important;
      margin-right: 20px !important;
      border-radius: 5px;
      background-size: cover;
    }
    .shape1 {
      margin-top: 15px !important;
      border: 1px solid #CCC !important;
      position: all;
      width: 100%;
      background: #FFF;
      padding: 20px 20px 20px 20px;
      margin: 0 auto;
      border-radius: 5px;
    }
    .ten-px-top {
      margin-top: 10px !important;
    }
    /*.bg-img {
      background: url("img/logo.png");
      height: 100%;
      width: 100%;
    }*/
    .center-card {
      margin: auto !important;
    }
    img {
      display: block;
      margin-left: auto !important;
      margin-right: auto !important;
    }
    /*  after cards in row*/
    #more-button {
      padding-top: 4px !important;
      padding-bottom: 4px !important;
    }
    .avatar {
      display: inline-block;
      margin-left: 0px !important;
      margin-right: 0px !important;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      margin-right: 10px !important;
    }
    ul.people-list li {
      padding: 5px !important;
    }
    .shape3 {
      display: inline-block;
      position: all;
      width: 98%;
      margin-right: 20px !important;
    }
    #phone-pic {
      background: url("http://www.androidpolice.com/wp-content/uploads/2014/04/nexusae0_m8.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 135%;
    }
    .no-radius {
      border-radius: 0 !important;
    }
    .left-radius {
      border-top-left-radius: 4px !important;
      border-bottom-left-radius: 4px !important;
    }
    .right-radius {
      border-top-right-radius: 4px !important;
      border-bottom-right-radius: 4px !important;
    }
    .marg-top {
      margin-top: 10px !important;
    }
    .stats {
      color: #777 !important;
      text-align: center !important;
    }
    #footer-background-img { /* Image in the background of a div */
      background: rgba(32, 32, 32, 1.0);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      min-height: 400px;
    }
    /* Heading - two buttons */
    .footer-wrapper { /* wrapper for header button set at the top right */
      padding-left: 10px
      padding-right: 10px;
      max-width: 100%;
    }
    .footer-body {
      color: #EEE !important;
      display: block;
      word-wrap: break-word;
      width: 100%;
    }
    p, h1, h2, h3, h4, h5, h6 {
      word-wrap: break-word !important;
    }
    .navbar-settings {
      list-style-type: none !important;
      padding: 10px 0px 10px 0px !important;
    }
    .navbar-settings li {
      display: inline !important;
      margin-right: 20px !important;
      padding: 10px 0px 10px 0px !important;
    }
    .the-list li {
      list-style-type: none !important;
      margin-top: 8px !important;
    }
    .the-list a {
      color: inherit;
      text-decoration: none !important;
    }
    .select-lang {
      float: right !important;
      margin-top: -7px !important;
    }
    .nav-border {
      border-top: 1px solid #888 !important;
      border-bottom: 1px solid #888 !important;
      padding-top: 10px !important;
      padding-bottom: 10px !important;
    }
    a {
      color: inherit !important;
    }
    .fpanel-default, .fpanel-heading, .fpanel, .flist-group, .flist-group-item {
      background: rgba(20, 20, 20, 0.5) !important;
      color: #FFF !important;
      border-color: rgba(20, 20, 20, 0.5) !important;
    }
    .marg-top-footer {
      margin-top: 15px !important;
    }
    .drop-list-down {
      background: #EF5050 !important;
      border-color: #F95B5B !important;
      color: #EEE !important;
    }






